@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz@9..40&family=Mulish:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz@9..40&family=Mulish:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #2b2a2a;
    color: #000000;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.5em;
    margin-left: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    font-size: 20px;
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
}

.nav-links a:hover {
    color: #292929; 
}


/* Main */

.present-section {
    display: flex;
    padding: 30px;
}

.left-present,
.right-present {
    flex: 1;
}

.left-present{
    padding: 60px;
    margin-right: 20px;
}

.right-present {
    padding: 20px;
    margin-left: 5px; 
}



.h1-present {
    font-size: 100px;
    line-height: 1.4; 
    margin-bottom: 10px; 
}

.p-present {
    font-size: 16px;
    line-height: 1.6; 
    margin-bottom: 20px; 
}


.right-present img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto; 
    border-radius: 7px;
}

.btn-present {
    width: 13%;
    padding: 7px;
    background-color: #1A1A1A;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.btn-present a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

